# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- Popular languages that Data Scientists use
- Commonly used libraries used by Data Scientists
- Famous Data Science tools

> Some of the popular languages that Data Scientists use are:
- Python
- Java 
- R
- C++

> Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Seaborn
- Matplotlib
- PyTorch
- Keras

> Following are the Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Apache Hadoop |
| Tableau |
| Power BI |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes_per_hour = 60
total_hours = minutes/minutes_per_hour
print(total_hours)

3.3333333333333335

## Author
Khalid Husain